doctype html

mixin carousel(id, items)
    .carousel.slide(id='carousel-#{id}', data-ride='carousel')
        //- Indicators
        ol.carousel-indicators
            each item,index in items
                if(index === 0)
                    li.active(data-target="#carousel-#{id}", data-slide-to="#{index}")
                else
                    li(data-target="#carousel-#{id}", data-slide-to="#{index}")
        //- Wrapper for slides
        .carousel-inner(role="listbox")
            each item,index in items
                if(index === 0)
                    .item.active
                        img(src="#{item.image}", alt="Food image")
                else
                    .item
                        img(src="#{item.image}", alt="Food image")
            a.left.carousel-control(href='#carousel-photoroll', role='button', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left
            a.right.carousel-control(href='#carousel-photoroll', role='button', data-slide='next')
                span.glyphicon.glyphicon-chevron-right

html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content=["width=device-width","initial-scale=1","minimum-scale=1","maximum-scale=1"])
        link(href="stylesheets/style.css", rel="stylesheet", type="text/css")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
        title Lettucespoon
    body
        .navbar.navbar-default.navbar-fixed-top(role='navigation')
            .container-fluid
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#home', class="anchor-scroll") LettuceSpoon
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        //- li: a(href='#home', class="anchor-scroll") Home
                        li: a(href='#about', class="anchor-scroll") About
                        li: a(href='#inspiration', class="anchor-scroll") Inspiration
        .view.photos(id="home")
            //- img(src='images/logo2.png', id='logo', alt='logo for lettucespoon')
            +carousel("photoroll",[
                {image: "images/dim-sum.jpg"},
                {image: "images/pancakes.jpg"},
                {image: "images/picnic.jpg"},
                {image: "images/salmon.jpg"},
                {image: "images/sushi.jpg"}
            ])
        .view.about-view(id="about")
            .about-content
                h1 About the writer
                .row
                    .col-xs-12.col-sm-6.col-md-4
                        .crop
                            img(src="images/linda_selfie.jpg", alt="Profile for Linda")
                    .col-xs-12.col-sm-6.col-md-8
                        p I live to eat, and I eat to live. Lettuce Spoon is where I combine my interests in delicious foods and balanced nutrition. I am Linda Yung, a Registered Dietitian and masters of Food Policy and Applied Nutrition from Tufts Friedman. I am a die-hard New Yorker with lofty goals of changing the ways Americans perceive food. I can also be described as an aspiring jet-setter, amateur tai chi master, and novice stargazer. On the real, I enjoy meandering through foreign markets, I spend too much time reading science fiction, and I experiment a lot in the kitchen. I hope Lettuce Spoon will provide you with some insight on my gastronomic lifestyle and perhaps a pinch of inspiration as well.
                        p Do you have any questions on the recipes? Don't know what you should be eating for breakfast? Need a recommendation for where to eat on a first date? Don't hesitate to contact me! 
                        p To learn more about my hometown, visit my New York City cheat sheet,
                        p And to see where I've been eating in New Orleans, check my visitor's guide.
        .view.inspiration-view(id="inspiration")
            .inspiration-content
                h1 The Inspiration
                .row
                    .col-xs-12.col-sm-6.col-md-8
                        blockquote "What do you like doing best in the world, Pooh?" asked Tigger. <br> "Well," said Pooh, "what I like best --" and then he had to stop to think. Because although eating honey was  a very good thing to do, there was a moment just before you began to eat it which was better than when you were, but he didn't know what it was called.
                        hr
                        blockquote "When you wake up in the morning, Pooh," said Piglet at last, "what's the first thing you say to yourself?" <br> "What's for breakfast?" said Pooh. "What do you say piglet?" <br> "I say, I wonder what's going to happen exciting today!"said Piglet. <br> Pooh nodded thoughtfully. <br> "It's the same thing," he said.
                        hr
                        p A.A. Milne, <i>Positively Pooh</i>
                    .col-xs-12.col-sm-6.col-md-4
                        img(src="images/pooh.jpg", alt="Winnie the pooh quote")

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
        script(src='scripts/jquery.anchorScroll-master/jquery.anchorScroll.min.js')
        script(src='scripts/animation.js')
