doctype html

mixin carousel(id, items)
    .carousel.slide(id='carousel-#{id}', data-ride='carousel')
        //- Indicators
        ol.carousel-indicators
            each item,index in items
                if(index === 0)
                    li.active(data-target="#carousel-#{id}", data-slide-to="#{index}")
                else
                    li(data-target="#carousel-#{id}", data-slide-to="#{index}")
        //- Wrapper for slides
        .carousel-inner(role="listbox")
            each item,index in items
                if(index === 0)
                    .item.active
                        img(src="#{item.image}", alt="Food image")
                else
                    .item
                        img(src="#{item.image}", alt="Food image")

html(lang="en")
    head
        meta(charset='utf-8')
        link(href="stylesheets/style.css", rel="stylesheet", type="text/css")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
        title Lettucespoon
    body
        .navbar.navbar-default.navbar-fixed-top(role='navigation')
            .container-fluid
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li: a(href='#home') Home
                        li: a(href='#about') About
                        li: a(href='#contact') Contact
                    ul.nav.navbar-nav.navbar-right
                        li: a(href='#') Test1
                        li: a(href='#') Test2
                        li: a(href='#') Test3
        //- img(src='images/logo.png', alt='logo for lettucespoon')
        .row
            .view.photos
                +carousel("photoroll",[
                    {image: "images/dim-sum.jpg"},
                    {image: "images/pancakes.jpg"},
                    {image: "images/picnic.jpg"},
                    {image: "images/salmon.jpg"},
                    {image: "images/sushi.jpg"}
                ])
        .row
            .view.about-view(id="about")
                .about-content
                    h1 About the writer
                    .col-md-4
                        img(src="images/linda_selfie.jpg" alt="Profile for Linda")
                    .col-md-8
                        p I live to eat, and I eat to live. Lettuce Spoon is where I combine my interests in delicious foods and balanced nutrition. I am Linda Yung, a Registered Dietitian and masters of Food Policy and Applied Nutrition from Tufts Friedman. I am a die-hard New Yorker with lofty goals of changing the ways Americans perceive food. I can also be described as an aspiring jet-setter, amateur tai chi master, and novice stargazer. On the real, I enjoy meandering through foreign markets, I spend too much time reading science fiction, and I experiment a lot in the kitchen. I hope Lettuce Spoon will provide you with some insight on my gastronomic lifestyle and perhaps a pinch of inspiration as well.
                        p Do you have any questions on the recipes? Don't know what you should be eating for breakfast? Need a recommendation for where to eat on a first date? Don't hesitate to contact me! 
                        p To learn more about my hometown, visit my New York City cheat sheet,
                        p And to see where I've been eating in New Orleans, check my visitor's guide.
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
        script(src='scripts/jquery.anchorScroll-master/jquery.anchorScroll.min.js')
        script(src='scripts/animation.js')
