doctype html

mixin carousel(id, items)
    .carousel.slide(id='carousel-#{id}', data-ride='carousel')
        //- Indicators
        ol.carousel-indicators
            each item,index in items
                if (index === 0)
                    li.active(data-target="#carousel-#{id}", data-slide-to="#{index}")
                else
                    li(data-target="#carousel-#{id}", data-slide-to="#{index}")
        //- Wrapper for slides
        .carousel-inner(role="listbox")
            each item,index in items
                if (index === 0)
                    .item.active
                        img(src="#{item.image}", alt="Food image")
                else
                    .item
                        img(src="#{item.image}", alt="Food image")
            //- Adding arrows to navigate through photo carousel
            a.left.carousel-control(href='#carousel-#{id}', role='button', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left
            a.right.carousel-control(href='#carousel-#{id}', role='button', data-slide='next')
                span.glyphicon.glyphicon-chevron-right

html(lang="en")
    head
        include _includes/header.jade
        title LettuceSpoon
    body
        //- Including Navbar template
        include _includes/navbar.jade

        main.animsition(role="main")
            .view
                //- TODO: Need to add a welcome section to the page
                .welcome-section
                    .col-xs-3.col-md-3
                        .welcome-section-image-crop
                            img(src="images/lettuce.jpg", alt="Lettuce")
                    .col-xs-6.col-md-6
                        .welcome-header
                            h1 Welcome to LettuceSpoon!
                        .welcome-content
                            p Testing testing testing testing testing testing testing
                            p Testing testing testing testing testing testing testing
                            p Testing testing testing testing testing testing testing
                    .col-xs-3.col-md-3
                        .welcome-section-image-crop
                            img(src="images/wooden-spoon.jpg", alt="Wooden Spoon")
                .main-photo-carousel
                    +carousel("home-photoroll",[
                        {image: "images/clementine.jpg"},
                        {image: "images/fried-rice.jpg"},
                        {image: "images/granola.jpg"},
                        {image: "images/home-cooking.jpg"},
                        {image: "images/ramen.jpg"},
                        {image: "images/sandwich.jpg"}
                    ])

        include _includes/footer.jade
        script(src='js/index-animation.js')
